@model TPC.Core.Models.ItemListViewModel
@using TPC.Core.Models;
@using TPC.Core.Models.ViewModels;
@using TPC.Core.Interfaces;
@using TPC.Common.Enumerations;
@using TPC.Core;
@{
    ViewBag.Title = "ItemListView";
}
<div id="hiddenfieldsdiv" class="hide">
    @Html.Hidden("hdnQuoteID", @Model.QuoteID)
    @Html.Hidden("hdnGroupID", @Model.GroupID)
    @Html.Hidden("hdnCurrentPageIndex", Model.currentPageIndex)
    @Html.Hidden("hdnSelectionCount", Model.SelectionCount)
    @Html.Hidden("hdnYesCount", Model.noOfYesCount)
    @Html.Hidden("hdnNoCount", Model.noOfNoCount)
    @Html.Hidden("hdnMayBeCount", Model.noOfMaybeCount)
    @Html.Hidden("hdnNewCount", Model.noOfNewCount)
    <input type="hidden" id="hdnViewDataGroupID" value="@ViewData["GroupID"]"/>
    <input type="hidden" id="hdnQuoteType" value="@ViewData["QuoteType"]"/>
    <input type="hidden" id="hdnPageTitle" value="@ViewBag.Title" />
    <input type="hidden" id="hdnPageType" value="@ViewData["Type"]" />
</div>
<div id="small-dialog" class="zoom-anim-dialog mfp-hide" >
    <div>
        <button title="Close (Esc)" type="button" class="mfp-close" style="position: static; margin-top: -26px; float: left; margin-left: -29px;">@Resources.TCPResources.CloseText</button>
        <button title="Close (Esc)" type="button" class="mfp-close">@Resources.TCPResources.CloseText</button>
    </div>
    <div id="loadingSetView" class="">
    </div>
</div>

<div id="divMain" class="metro margin20 nlm nrm nbm">
     @if (Model.IsListView)
        {
    @Html.Partial("../TCPViews/Partial/CustDecisionWizardPartialView", @Model)
     }
    else
    {
    @Html.Partial("../TCPViews/Partial/ItemListViewPartial", @Model)     
     }
</div>
