@model TPC.Core.Models.BaseViewModel

@{
    ViewBag.Title = "Help with your Decision Wizard ®";
    Layout = "~/Views/Shared/PenworthyLayout.cshtml";
}

<table class="margintop28 span12">
    <tbody>
        <tr>
            <td class="text-center ">
                <video width="960" height="720" style="margin-left:-8px;" controls autoplay="autoplay">
                    <source src="@Url.Action("PlayVideoInfo","ItemListView")" type="video/mp4">
                </video>
            </td>
        </tr>
        @* <tr class="div-contentheight">
            <td>@Resources.TCPResources.YourDecision_WizardText </td>
        </tr>
        <tr class="div-contentheight">
            <td style="font-size:15px;"><strong>Here's a quick step-by-step:</strong></td>
        </tr>
        <tr>
            <td class="span12" style="border-bottom:1px solid black"></td>
        </tr>

        <tr class="div-contentheight">
            <td>@Resources.TCPResources.OneatatimeText</td>
        </tr>
        <tr class="div-contentheight">
            <td>
                <img src="~/Images/HelpDecisionWizard.png" /></td>
        </tr>
        <tr class="div-contentheight1">
            <td>@Resources.TCPResources.NewCategoryText</td>
        </tr>
        <tr class="div-contentheight">
            <td>
                <img src="~/Images/MyPenworthyDW.PNG" /></td>
        </tr>
        <tr class="div-contentheight">
            <td>@Resources.TCPResources.YesNoMayBeText</td>
        </tr>
        <tr class="div-contentheight">
            <td>
                <div class="place-left margin5 ntm nbm nlm">
                    <img src="~/Images/YesNoMaybe/MayBeNew.jpg" /></div>
                <div class="place-left  margin5 ntm nbm nlm">
                    <img src="~/Images/YesNoMaybe/NoNew.jpg" /></div>
                <div class="place-left margin5 ntm nbm nlm">
                    <img src="~/Images/YesNoMaybe/YesNew.jpg" /></div>
                <div class="place-left margin5 ntm nbm nlm">
                    <img src="~/Images/Arrow.PNG" /></div>
            </td>
        </tr>
        <tr class="div-contentheight1">
            <td>@Resources.TCPResources.YesTitleText</td>
        </tr>
        <tr class="div-contentheight">
            <td>
                <img src="~/Images/PenworthyLayout1.PNG" /></td>
        </tr>*@
    </tbody>
</table>

