@model TPC.Web.Models.LoginModel
@{
    ViewBag.Title = "Manage Account";
    Layout = null;
}
   <head>
    <link href="@Styles.Url("~/Content/TableSorter/css")" rel="stylesheet"/>

    <script src="@Scripts.Url("~/bundles/jquery")"></script>
    <script src="@Scripts.Url("~/bundles/commonscript")"></script>

</head>
@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @id = "ChangePass" }))
{
    <div style="width: 375px; padding-top: 5px; margin: 106px 0px 0px 204px">
        <div>
           @Resources.TCPResources.ManagePasswordText
        </div>
        <div>

            <div class="hide">
                @Html.HiddenFor(n => n.CustAutoID)
                @Html.HiddenFor(n => n.IsManageAccount)
            </div>
            @if (ViewBag.lstUserList != null)
            {
                <div id="loginCustomerDetails" class=" text-center margin10">
                    Please Select Customer      

                  <select id="ddl" class="padding5">
                      @foreach (var item in ViewBag.lstUserList)
                      {
                          <option value="@item.ItemID">@item.ItemValue</option>
                      }
                  </select><br />
                  
                </div>
            }
          
                @Html.Partial("../Account/_ChangePasswordPartial", Model)
         
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
