@model TPC.Core.Models.ItemListViewModel
@using TPC.Core.Models;
@using TPC.Core.Models.ViewModels;
@using TPC.Core.Interfaces;
@using TPC.Common.Enumerations;
@using TPC.Core;
@{
    ViewBag.Title = "ItemListView";
}
<script type="text/javascript">
    function DeleteNoItemsSucess(data) {
        window.location.reload();
        }
</script>
<div id="displayItems" class="place-left span12 ">
    <div id="divStatusList" class="span12 place-left contentTextSmall" style="position: fixed; z-index: 1; margin-top: -12px;">
        <table id="tblStatusList" class="span12 ">
            <tr>
                <td>
                    @if (Model.QuoteType == Resources.TCPResources.DecisionWizardliText && Model.IsListView == true)
                    {
                        <div id="pb1" class="progress-bar custom-progress-bar" data-role="progress-bar" data-color="#99bfe6"></div>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="3">
                        <div id="goldStarText" class="place-left margin10 nlm nbm ">
                            <i id="staricon-yellow" class="icon-star-3 margin5 ntm nbm nlm fg-yellow itemTextSize"></i>@Resources.TCPResources.goldStarText
                        </div>
                        <div class="place-left margin10 nbm ">
                            <i id="staricon-blue" class="icon-star-3 margin5 ntm nbm nlm button-fg itemTextSize"></i>@Resources.TCPResources.BlueStarText
                        </div>
                </td>
            </tr>
           
            <tr>
                <td>
                    <div id="divStatus" class="span6_5 place-left contentTextSmall" style="margin-top: -6px;">
                        @if (Model.QuoteType == Resources.TCPResources.DecisionWizardliText && Model.IsListView == true)
                        {
                            <table id="tblStatus" class="span6_5 margin10 nlm nrm">
                                <tr>
                                    <td style="width: 17px">
                                        <input type="checkbox" name="group2" class="SelectAll" data-count="@Convert.ToInt32(@Model.noOfYesCount + @Model.noOfNoCount + @Model.noOfMaybeCount + @Model.noOfNewCount)" value="0">
                                    </td>
                                    <td style="width: 53px">
                                        <label class="place-left LableHdTD ">All</label>
                                        <label class="place-left lableValTD" id="0">(@Convert.ToInt32(@Model.noOfYesCount + @Model.noOfNoCount + @Model.noOfMaybeCount + @Model.noOfNewCount))</label>
                                    </td>
                                    <td style="width: 17px">
                                        <input type="checkbox" name="group2" class="case" value="1" data-count="@Model.noOfYesCount">
                                    </td>
                                    <td>
                                        <label class="place-left LableHdTD">Yes</label>
                                        <label class="place-left lableValTD" id="1">(@Model.noOfYesCount)</label>
                                        <label class="place-left LableHdTD">&nbsp;Price&nbsp; </label>
                                        <label class="place-left LableHdTD" id="lblYesPrice">@String.Format("{0:C}", Model.YesTotalPrice)</label>
                                    </td>

                                    <td style="width: 17px">
                                        <input type="checkbox" name="group2" class="case" value="2" data-count="@Model.noOfNoCount">
                                    </td>
                                    <td style="width: 53px">
                                        <label class="place-left LableHdTD">No</label>
                                        <label class="place-left lableValTD" id="2">(@Model.noOfNoCount)</label>
                                    </td>
                                    <td style="width: 17px">
                                        <input type="checkbox" name="group2" class="case" value="3" data-count="@Model.noOfMaybeCount">
                                    </td>
                                    <td style="width: 76px">
                                        <label class="place-left LableHdTD">Maybe</label>
                                        <label class="place-left lableValTD" id="3">(@Model.noOfMaybeCount)</label>
                                    </td>

                                    <td style="width: 17px">
                                        <input type="checkbox" name="group2" class="case" value="5" data-count="@Model.noOfNewCount">
                                    </td>
                                    <td style="width: 59px">
                                        <label class="place-left LableHdTD">New</label>
                                        <label class="place-left lableValTD" id="5">(@Model.noOfNewCount)</label>
                                    </td>
                                </tr>
                            </table>
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Home")">Back To Home</a>
                        }
                    </div>
                </td>
                <td>
                    <div class=" place-right span6 margin10 ntm nbm nrm">
                        @if (Model.IsListView)
                        {
                            <input type="button" id="btnviewOne" class="text-right place-right" value="View One" style="background-color: transparent">
                            using (Ajax.BeginForm("DeleteNoItemsByQuoteID", "ItemContainerPartial", new { quoteID = Model.QuoteID }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "DeleteNoItemsSucess", UpdateTargetId = "UpdateSelectedCollection", LoadingElementId = "loader" }, new { enctype = "multipart/form-data", @style = "margin:0px" }))
                            {
                                <input type="submit" id="btnDeleteNoTitles" class="text-right place-right margin-right22" value="Delete No Titles" style="background-color: transparent">
                            }
                        }
                        else
                        {
                            <input type="button" id="btnviewAll" class="text-right place-right" value="View All" style="background-color: transparent">
                        }
                    
                         
                    </div>
                </td>
                <td class="place-right span3">

                    <div class=" place-right span3">
                    </div>

                </td>
            </tr>
        </table>
            <div id="text" class="hide margin5 nlm nrm nbm"></div>
    </div>
    <div id="divCollectionDW" class="paddingtop30">
        @Html.Partial("../TCPViews/Partial/CollectionsDWItemsPartial", @Model.ItemGroupViewM)
    </div>
</div>
