@model TPC.Web.Models.LoginModel



@*  <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Change password" />
    </fieldset>*@

<div style="padding-top: 5px">
    <div style="float: left; width: 160px">
        Your user email is :
    </div>
    <div>
        @Html.TextBoxFor(m => m.UserEmail, new { @style = "width:211px", @readonly = true })
    </div>
</div>
<div style="padding-top: 5px">
    <div style="float: left; width: 160px">
        Your current password :
    </div>
    <div>
        @if (ViewBag.enableOldPassword==true)
        {
            @Html.PasswordFor(m=>m.Password, new { @style = "width:211px"})<span class="redcolor hide" id="manageCurrPass">*</span>
                @Html.Password("OldPassword", Model.OldPassword, new { @style = "display:none" })
        }
        else
        {
            @Html.Password("OldPassword", Model.OldPassword, new { @style = "width:211px", @readonly = "true" })
        }
    </div>
</div>
<div style="padding-top: 5px">
    <div style="float: left; width: 160px">
        Your new password :
    </div>
    <div>
        @Html.PasswordFor(m => m.NewPassword, new { @style = "width:211px" })
    </div>
</div>
<div style="padding-top: 5px">
    <div style="float: left; width: 160px">
        Confirm new password :
    </div>
    <div>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @style = "width:211px" })
    </div>
</div>
<div style="padding-top: 5px">
    <div style="float: left; width: 160px">
    </div>
    <div>
        @if (ViewBag.IsUrlLogin == true)
        {
                
            <input type="submit" id="manageLiveCust" value="LogIn" style="padding: 0px 0px; font-weight: bold; text-align: left; vertical-align: middle!important; background-color: #fff; border: 1px transparent solid; margin-left: 195px; color: #00a0cf; border-radius: 0; cursor: pointer; display: inline-block; outline: 0; font-family: 'Segoe UI_','Open Sans',Verdana,Arial,Helvetica,sans-serif; font-size: 15px; line-height: 20px; letter-spacing: 0.01em;" />
        }
        else
        {
            <a id="manageInfo" href="#" style="padding: 0px 0px; font-weight: bold; text-align: left; vertical-align: middle!important; background-color: #fff; border: 1px transparent solid; margin-left: 225px; color: #00a0cf; border-radius: 0; cursor: pointer; display: inline-block; outline: 0; font-family: 'Segoe UI_','Open Sans',Verdana,Arial,Helvetica,sans-serif; font-size: 13px; line-height: 20px; letter-spacing: 0.01em;">Login</a>
        }
    </div>
</div>
<div style="padding-top: 5px">
    <div style="float: left; width: 160px">
    </div>
    <div>
        @*   <a id="forgorPass" href="#" style="font-family: 'Segoe UI_','Open Sans',Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 20px; letter-spacing: 0.01em;" class="div-MainHeight25 place-right">Forgot my password</a>*@
        @*  <input type="submit" value="Forgot my password" style="padding: 0px 0px; text-align: left; vertical-align: middle!important; background-color: #fff; border: 1px transparent solid; margin-left: 263px; color: #00a0cf; border-radius: 0; cursor: pointer; display: inline-block; outline: 0; font-family: 'Segoe UI_','Open Sans',Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 20px; letter-spacing: 0.01em;" />*@

    </div>
</div>
